 <!-- Biography Section -->
    <section class="success" id="biography">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Biography</h2>
                    <hr class="star-light">
                </div>
            </div>
            <!--
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Jordan Lamotte is awesome!</p>
                </div>
                <div class="col-lg-4">
                    <p>This is his awesome website</p>
                </div>
            -->
            <div>
                Jordan Lamotte is currently an IT/Networking Intern at MyWebGrocer in Winooski, Vermont and the Canvas Outreach Specialist for the eLearning Department at Champlain College in Burlington, Vermont. Jordan is expected to receive a B.S. in Computer Networking & Information Security with a specialization in Cyber Security from Champlain College in May 2015.
            <br><br>
                Jordan has filled various roles in information technology throughout his professional career. He started his career at Milton Town School District as an IT Technician providing hardware and software technical support, Norton Ghost computer imaging, Windows OS troubleshooting, network troubleshooting, and end user support. Following this, he was an Easy Tech Resident Technician for Staples. Throughout this time he provided hardware and software support, hardware repair, sold computers and printers, and provided excellent customer service. Jordan also formerly held a position in the eLearning Department at Champlain College as a Data Migration Specialist where he quality checked courses being migrated from the Angel learning management system to the new Canvas system, and provided support to faculty and staff using Canvas.
            <br><br>
                In addition to networking, cyber security, and digital forensics, Jordan has also spent a large part of his professional career working in and with educational technology.  Throughout high school, in an independent study position, he worked closely with the school Technology Integration Specialist.  Following graduation from high school, he continued to work in various educational technology settings.  His interests within educational technology include: technology integration in K-12 and higher education, and user training.  He was the first high school student to present at the Dynamic Landscapes technology conference in May 2011; his presentation focused on the student perspective of the technology integration process.
            <br><br>
                When Jordan isn’t at work, he enjoys spending time with his friends and family.
            </div>
            <!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            -->
            </div>
        </div>
    </section>