 <!-- About Section -->
    <section class="success" id="resume">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Résumé</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <!--<iframe="resume.pdf"></iframe>-->
                <h2>Professional Experience</h2>
                    <h3>MyWebGrocer (Winooski, VT) May 2014 - present</h3>
                    <h4>IT/Networking Intern</h4>
                        <ul>
                        <li>Facilitated positive computer repair experiences by communicating with users</li>
                        <li>Wrote documentation and tutorials to enhance and streamline the user support experience</li>
                        <li>Communicated problems and solutions with users of varying levels of technical knowledge</li>
                        <li>Provided IT training to new employees</li>
                        </ul>
                    Champlain College (Burlington, VT) April - August 2013; January 2014 - present
                    Outreach Specialist, Canvas Learning Management System (LMS)
                        Educated faculty on how to effectively use an online LMS to enhance a course experience • Wrote tutorials to enhance and educate faculty on specific features of the LMS
                        Maintained and updated an online eLearning knowledge base
                        Performed course migrations and quality checks with other members of the team
                    Staples (South Burlington, VT) August 2012 - August 2013
                    Easy Tech Sales Associate & Resident Technician
                        Assisted customers in making educated purchasing decisions (computers, tablets, printers) • Performed hardware and software repairs on customer computers
                        Communicated with customers to ensure a positive customer service experience
                    Milton Town School District (Milton, VT) June 2011 - June 2012
                    IT Technician
                        Provided computer hardware and software support
                        Supported a wide variety of computer hardware and software
                        Ensured that help desk tickets and projects were prioritized appropriately
                <h2>Skills</h2>
                    <ul>
                    <li>Technical: computer troubleshooting, Active Directory, Group Policy</li>
                    <li>Software: Microsoft Office, Wireshark, VMware suite, VirtualBox, Cisco Packet Tracer</li>
                    <li>Operating Systems: Microsoft Windows & Windows Server, Mac OS X, Debian-based Linux</li>
                    <li>Non-technical: documentation, communication, user training</li>
                    </ul>
                <h2>Education</h2>
                    Champlain College (Burlington, VT), Bachelor of Science
                    Major: Computer Networking & Information Security
                    Specialization: Cyber Security
                    Minor: Computer & Digital Forensics
                    August 2011 - May 2015
                </div>
            </div>
        </div>
    </section>