 <!-- About Section -->
    <section class="success" id="resume">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Résumé</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <!--<iframe="resume.pdf"></iframe>-->
                <h3 align="center">Professional Experience</h3>
                    <h4>MyWebGrocer (Winooski, VT) May 2014 - present</h4>
                    <h5>IT/Networking Intern</h5>
                        <ul>
                            <li>Facilitated positive computer repair experiences by communicating with users</li>
                            <li>Wrote documentation and tutorials to enhance and streamline the user support experience</li>
                            <li>Communicated problems and solutions with users of varying levels of technical knowledge</li>
                            <li>Provided IT training to new employees</li>
                        </ul>
                <hr width="25%" align="left">
                    <h4>Champlain College (Burlington, VT) April - August 2013; January 2014 - present</h4>
                    <h5>Outreach Specialist, Canvas Learning Management System (LMS)</h5>
                        <ul>
                            <li>Educated faculty on how to effectively use an online LMS to enhance a course experience</li>
                            <li>Wrote tutorials to enhance and educate faculty on specific features of the LMS</li>
                            <li>Maintained and updated an online eLearning knowledge base</li>
                            <li>Performed course migrations and quality checks with other members of the team</li>
                        </ul>
                    <h4>Staples (South Burlington, VT) August 2012 - August 2013</h4>
                    <h5>Easy Tech Sales Associate & Resident Technician</h5>
                        <ul>
                            <li>Assisted customers in making educated purchasing decisions (computers, tablets, printers)</li>
                            <li>Performed hardware and software repairs on customer computers</li>
                            <li>Communicated with customers to ensure a positive customer service experience</li>
                        </ul>
                    <h4>Milton Town School District (Milton, VT) June 2011 - June 2012</h4>
                    <h5>IT Technician</h5>
                        <ul>
                            <li>Provided computer hardware and software support</li>
                            <li>Supported a wide variety of computer hardware and software</li>
                            <li>Ensured that help desk tickets and projects were prioritized appropriately</li>
                        </ul>
                <h3 align="center">Skills</h3>
                    <ul>
                        <li>Technical: computer troubleshooting, Active Directory, Group Policy</li>
                        <li>Software: Microsoft Office, Wireshark, VMware suite, VirtualBox, Cisco Packet Tracer</li>
                        <li>Operating Systems: Microsoft Windows & Windows Server, Mac OS X, Debian-based Linux</li>
                        <li>Non-technical: documentation, communication, user training</li>
                    </ul>
                <h3 align="center">Education</h3>
                    <h4>Champlain College (Burlington, VT), Bachelor of Science<h4>
                    <h5>August 2011 - May 2015</h5>
                    <ul>
                        <li>Major: Computer Networking & Information Security</li>
                        <li>Specialization: Cyber Security</li>
                        <li>Minor: Computer & Digital Forensics</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>